/* container */
body{
    height: auto;
    overflow: auto;
    margin: 0px;
    font: 16px;
}

#myNavbar>ul.nav .current a{
  color:#e8491d;
  font-weight:bold;
}

#myNavbar>ul.nav .contact a{
    color:dodgerblue;
    font-weight: bold;
}

#containerMare{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 30% auto;
}

#containerTelefoane{
    display: grid;
    margin-top: 20px;
    /**grid-template-columns: 30% auto;*/
    grid-template-columns: 30% 35% 35%; 
    overflow: hidden;
    grid-row-gap: 10px;
}

#containerTelefoane h1{
    margin: auto;
    font-size: 1.25rem;
    color: dodgerblue;
    font-family:monospace;
    font-style: oblique;
}

.div-imagine {
    padding: 10px;
    float: right;
    width: 100%;
    text-align: center;
    line-height: 1.2rem;
}

.div-imagine img{
    max-width: 50%;
    max-height: 150px;
}

.price img{
    width: 50px;
    height: auto;
}

.div-specificatii{
    padding: 10px;
    overflow: auto;
    text-align:center;
    line-height: 1.2rem;
    width: 100%;
    float: left;
}

.specificatii p{
    color: black;
    font-weight: normal;
}

.div-reviews{
    padding: 10px;
    overflow: auto;
    width: 80%;
}

.div-reviews h1{
    text-align: center;
}

 #check{
     display: grid;
     grid-template-columns: 100%;
     color: black;
     
}

.filtre h1{
    padding: 10px;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    color: black;
}

input[type='radio'], label .radio{   
    vertical-align: baseline;
    padding: 10px;
    margin: 10px;
 }